@media (max-width: 480px){
	body{
		article{
			@include zen-grid-item(12, 1);

			header{
				nav{
					@include zen-grid-item(12, 1);

					p{
						float: left;
						margin-left: 20px;
					}
				}

				.meu-perfil{
					@include zen-grid-item(12, 1);
					margin-top: 20px;

					h1{
						font-size: 24px;
					}

					.perfil{
						@include zen-grid-item(12, 1);

						p{
							margin: 10px 0;
						}
					}
					.contato{
						@include zen-grid-item(12, 1);
						clear: both;

						ul{
							margin-top: 75px;
							margin-bottom: 10px;
						}
					}
				}
			}
			.formacao{
				.titulos-formacao{
					display: none;
				}
				.ano2015, .ano2014, .ano2013, .ano2012, .ano2010, .ano2006, .ano2005{
					.cursos{
						@include zen-grid-item(12, 1);
						clear: both;
						margin-top: 20px;
						margin-bottom: 20px;
					}
					.ano{

					}
					.experiencias{
						@include zen-grid-item(12, 1);
						clear: both;
					}
				}
			}
			.portfolio{
				ul{
					li{
						.imagem-portfolio{
							display: none;
						}
					}
				}
			}
		}
	}
}