@import "zen-grids";

@mixin titulo{
	@include zen-grid-item(8, 1);
	background: #2D3E50;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'play', 'sans-serif';
	color: #fff;
	
	article{
		@include zen-grid-item(8, 3);
		height: 1330px;
		background: url(images/bg-article.png) no-repeat 0 0;
		position: relative;
		z-index: 5;

		header{
			@include zen-grid-item(12, 1);
			background: #00a3e6;

			nav{
				@include zen-grid-item(4, 9);

				p{
					float: left;
					margin-left: 20px;
				}
			}

			.meu-perfil{
				@include zen-grid-item(12, 1);
				margin-top: 20px;

				h1{
					font-size: 48px;
				}

				.perfil{
					@include zen-grid-item(6, 2);

					p{
						line-height: 1.5em;
						font-size: 0.9em;
						margin: 20px 0 40px;
						clear: both;
					}

					.titulo-perfil{
						@include titulo;
					}
				}
				.contato{
					@include zen-grid-item(4, 9);

					.titulo-contato{
						@include titulo;
						margin-top: 20px;
					}

					ul{
						clear: both;
						margin-top: 112px;
						margin-left: 15px;
					}
				}
			}
		}

		.formacao{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #2d3e50;


			ul{
				li{
					font-weight: bold;
					ul{
						li{
							margin-left: 30px;
							font-weight: normal;

							&:last-child{
								margin-bottom: 20px;
							}
						}
					}
				}
			}

			.titulos-formacao{
				@include zen-grid-item(12, 1);
				padding: 20px 0;

				ul{
					list-style: none;

					li{

						&.titulo-cursos{
							@include zen-grid-item(4, 4);
						}
						&.titulo-anos{
							@include zen-grid-item(4, 1);
							padding-left: 80px;
						}
						&.titulo-experiencias{
							@include zen-grid-item(5, 8);
						}
					}
				}
			}

			.ano2015, .ano2014, .ano2013, .ano2012, .ano2010, .ano2006, .ano2005{
				@include zen-grid-item(12, 1);
				clear: both;
				border-top: 2px solid #fff;
				padding: 10px 0;

				.cursos{
					@include zen-grid-item(4, 4);
				}
				.ano{
					@include zen-grid-item(4, 1);
					text-align: center;
					height: 70px;
					background: #00a3e6;
					line-height: 70px;
					border: 2px solid #fff;
					border-radius: 215px;
					font-size: 20px;
					width: 70px;
				}
				.experiencias{
					@include zen-grid-item(5, 8);
				}
			}
		}
		.classeConhecimento{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #00a3e6;

			h2{
				text-align: center;
				font-size: 32px;
				padding: 20px 0;
			}

			ul{
				list-style: none;

				li{
					float: left;
					margin: 0 20px 20px;

					span{
						display: block;
						text-align: center;

						&.quantidade-conhecimento{
							border: 2px solid #fff;
							border-radius: 215px;
							font-size: 42px;
							width: 70px;
							padding: 20px;
							line-height: 65px;
						}
						&.qual-conhecimento{
							margin-top: 10px;
						}
					}
				}
			}
		}
		.portfolio{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #2d3e50;

			h2{
				text-align: center;
				font-size: 32px;
				padding: 20px 0;
			}

			ul{
				list-style: none;

				li{
					display: block;
					clear: both;
					border-top: 1px solid #fff;
					height: 215px;
					position: relative;

					.titulo-portfolio{
						display: block;
						font-size: 40px;
						float: left;
					}
					.descricao-portfolio{
						display: block;
						float: left;
						clear: both;
					}
					.url-portfolio{
						display: block;
						float: left;
						clear: both;

						a{
							color: #fff;
						}
					}
					.imagem-portfolio{
						float: right;
						width: 240px;
						height: 180px;
						position: absolute;
						right: 20px;
						top: 20px;
					}
					ul{
						li{
							clear: none;
							border: none;
							height: 30px;
							float: left;
							margin: 10px 10px 0 0;
						}
					}
				}
			}
		}
	}
}

@import "tablet";
@import "smartphone";