<section class="ano">2015</section>
<section class="cursos">
	<p>Começando em Março</p>
	<ul>
		<li>Java e Orientação a Objetos (Caelum)</li>
		<li>Java para Desenvolvimento Web (Caelum)</li>
		<li>Desenvolvimento Web com HTML, CSS e JavaScript (Caelum)</li>
		<li>Práticas ágeis de desenvolvimento de Software em Java (Caelum)</li>
	</ul>
</section>
<section class="experiencias">
	<ul>
		<li>Idei4 - Soluções Web
			<ul>
				<li>Desenvolvimento da loja online da Via Verde</li>
				<li>Desenvolvimento da loja online da Tre Amici</li>
				<li>Desenvolvimento do site da loja Z-Shirts</li>
			</ul>
		</li>
	</ul>
</section>