<section class="ano">2005</section>
<section class="cursos">
	<ul>
		<li>Pós Graduação - Design de Interfaces (Unicarioca).</li>
	</ul>
</section>
<section class="experiencias">
	<ul>
		<li>Gameness (Webdesigner)
			<ul>
				<li>Administrei o site www.gamenes.com.br e a loja virtual da Gameness, criando banners promocionais, confeccionando o álbum virtual da empresa e atualizando as páginas do site.</li>
				<li>Criava as imagens dos produtos no Photoshop e adicionava a loja e fazia manutenção do site e da loja.</li>
				<li>Fazia o e-mail marketing da loja e os sites dos atletas patrocinados pela loja.</li>
			</ul>
		</li>
	</ul>
</section>