<section class="ano">2014</section>
<section class="cursos">
	<ul>
		<li>Curso Programação front-end com JavaScript e jQuery (Caelum)</li>
		<li>Curso Gerenciamento ágil de projetos de Software com Scrum (Caelum)</li>
	</ul>
</section>
<section class="experiencias">
	<ul>
		<li>Innersite (Coordenador da área de Helpdesk)
			<ul>
				<li>Coordenação da Equipe de helpdesk dando suporte para todas as atribuições e demandas junto aos clientes.</li>
				<li>Extração de relatórios do Redmine para apresentação mensal junto a gerência.</li>
				<li>Distribuição das atribuições dos analistas utilizando ferramentas da metodologia Scrum (Trello) junto com a ferramenta de chamados e projetos, Redmine.</li>
				<li>Desenvolvimento e suporte a criação de lojas com framework Magento.</li>
			</ul>
		</li>
	</ul>
</section>