<section class="ano">2013</section>
<section class="cursos">
	<ul>
		<li>CSS3 - Less e Sass Avançado (Treinaweb)</li>
	</ul>
</section>
<section class="experiencias">
	<ul>
		<li>Nova.com (Analista Frontend)
			<ul>
				<li>Responsável pelo Frontend da loja da Nike (www.nike.com.br) no Brasil e pela ferramenta administrativa da loja.</li>
				<li>Fiz a reformulação de todo frontend da loja e da ferramenta implementando padrões de código e ajeitando todo o css utlizando o framework sass com zen grid.</li>
				<li>Reformulação do cms da loja da Nike, tornando a ferramenta responsiva, acessível a todos os dispositivos.</li>
			</ul>
		</li>
		<li>Compra Fácil (Coordenador da área de Frontend)
			<ul>
				<li>Coordenação da Equipe de Front End do Compra Fácil dando suporte para todas as atribuições e demandas da Empresa na área.</li>
				<li>Gerenciamento de projetos de novas lojas de parcerias do Compra Fácil, como Globomarcas e Ipirangashop.</li>
				<li>Gerenciamento das demandas abertas para ajustes de CSS, HTML, CSS3, HTML5 e JavaScript das lojas parceiras e lojas do Compra Fácil.</li>
				<li>Análise do desempenho da área de Front End para confecção de relatórios gerenciais.</li>
				<li>Extração de relatórios do Redmine para apresentação mensal junto a gerência.</li>
				<li>Distribuição das atribuições dos analistas utilizando ferramentas da metodologia Scrum/Kanban (Trello) junto com a ferramenta de chamados e projetos, Redmine, onde o aumento de produtividade dos analistas chegou a 80% depois da aplicação da metodologia.</li>
			</ul>
		</li>
	</ul>
</section>