<section class="ano">2010</section>
<section class="cursos">

</section>
<section class="experiencias">
	<ul>
		<li>Compra Fácil (Analista Pleno de Frontend)
			<ul>
				<li>Suporte em CSS, CSS3, HTML e HTML5 as lojas do Compra Fácil e parcerias</li>
				<li>Desenvolvi o HTML e CSS das lojas de nicho do Compra Fácil</li>
				<li>Participei do projeto da loja do Shopping Credicard</li>
				<li>Participei de projetos de melhorias e inovações na loja do Compra Fácil</li>
			</ul>
		</li>
	</ul>
</section>