<section class="ano">2006</section>
<section class="cursos">

</section>
<section class="experiencias">
	<ul>
		<li>LAMCE/UFRJ (Analista Web)
			<ul>
				<li>Participei do projeto de implementação do primeiro site utilizando tecnologia Flash</li>
				<li>Iniciei o projeto da nova página utilizando HTML5, CSS3, utilizando conceitos de acessibilidade e usabilidade</li>
				<li>Fiz aplicações utilizando XML, PHP e Actionscript 2.0</li>
				<li>Participei do projeto de confecção do cd interativo para distribuição em um congresso da ANP e laboratórios da UFRJ
				</li>
			</ul>
		</li>
	</ul>
</section>