<section class="ano">2012</section>
<section class="cursos">

</section>
<section class="experiencias">
	<ul>
		<li>Compra Fácil (Supervisor da área de Frontend)
			<ul>
				<li>Gerenciamento de projetos de novas lojas de parcerias do Compra Fácil, como Globomarcas e Ipirangashop.</li>
				<li>Gerenciamento das demandas abertas para ajustes de CSS, HTML, CSS3, HTML5 e JavaScript das lojas parceiras e lojas do Compra Fácil.</li>
				<li>Análise do desempenho da área de Front End para confecção de relatórios gerenciais.</li>
				<li>Implementação da ferramenta Redmine para gerenciamento das demandas de Front End.</li>
				<li>Configuração e adequação do Redmine para os moldes da empresa.</li>
				<li>Implementação da ferramenta Redmine para diversas áreas da empresa.</li>
				<li>Extração de relatórios do Redmine para apresentação mensal junto a gerência.</li>
			</ul>
		</li>
	</ul>
</section>