<h2>Conhecimentos</h2>
<ul>
	<li>
		<span class="quantidade-conhecimento">85%</span>
		<span class="qual-conhecimento">Photoshop</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">95%</span>
		<span class="qual-conhecimento">HTML</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">95%</span>
		<span class="qual-conhecimento">CSS</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">70%</span>
		<span class="qual-conhecimento">Javascript</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">50%</span>
		<span class="qual-conhecimento">AngularJS</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">40%</span>
		<span class="qual-conhecimento">Node JS</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">60%</span>
		<span class="qual-conhecimento">PHP</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">90%</span>
		<span class="qual-conhecimento">SASS</span>
	</li>
	<li>
		<span class="quantidade-conhecimento">90%</span>
		<span class="qual-conhecimento">Less</span>
	</li>
</ul>