<h1>Rodrigo Freitas</h1>
<section class="perfil">
	<p class="titulo-perfil">Who am I</p>
	<p>I'm graduated in the Unicarioca Interface Design in 2005. Domain Advanced English. Experience of 4 years in service to internal and external customers , supporting and managing projects . E-commerce project participation as Globomarcas , Ipirangashop where implemented agile methodology, increasing development productivity by 80%. Reported up to the coordinators and area managers for performance evaluation and development tasks.</p>
	<p>Advanced knowledge in HTML, CSS knowledge too in framework MEAN - MongoDB, ExpressJS, AngularJS, NodeJS where I have a project in github for learn more this framework (http://github.com/rodrigoIdei4/mean).</p>
</section>
<section class="contato">
	<p class="titulo-contato">Contacts</p>
	<ul>
		<li class="telefone">(+55 021) 975-775-481</li>
		<li class="email">rdfreita@gmail.com</li>
	</ul>
</section>