<h1>Rodrigo Freitas</h1>
<section class="perfil">
	<p class="titulo-perfil">Quem sou eu</p>
	<p>Desenvolvedor Front-End desde 2005, pós-graduado em Designer de Interfaces pela Unicarioca. Grande conhecimento em HTML e CSS e há um tempo utilizando os frameworks CSS, Less e Sass.</p>
	<p>Recentemente fiz cursos visando a melhoria com a utilização de Javascript onde comecei a utilizar AngularJS e com isso fui buscar um maior conhecimento de NodeJS, ExpressJS e MongoDB. Procuro sempre trabalhar com grids para que as páginas sempre seja "responsivas", ou seja, que se adequem a qualquer dispositivo. Utilizo atualmente nos meus projetos o "zen-grid" que utiliza o Sass para o desenvolvimento</p>
	<p>Já coordenei uma equipe de Front-End onde para melhoria da produção e organização do setor implementei a utilização do Redmine para gerenciamento de projetos e chamados do dia-a-dia e também implementei o uso do Kanban para melhoria do desenvolvimento das lojas e páginas HTML.</p>
</section>
<section class="contato">
	<p class="titulo-contato">Contato</p>
	<ul>
		<li class="telefone">(21) 975-775-481</li>
		<li class="email">rdfreita@gmail.com</li>
	</ul>
</section>