<h2>Portfolio</h2>
<ul>
	<li>
		<span class="titulo-portfolio">Z-Shirts</span>
		<span class="descricao-portfolio">
			Site de loja de venda de camisas.<br />
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>jQuery</li>
			</ul>
		</span>
		<span class="url-portfolio"><a href="">www.zshirts.com.br</a></span>
		<img src="css/images/zshirts.jpg" alt="Z-Shirts" class="imagem-portfolio" />
	</li>
	<li>
		<span class="titulo-portfolio">Via Verde Online</span>
		<span class="descricao-portfolio">
			E-commerce de venda de produtos naturais.<br />
			<ul>
				<li>Magento</li>
				<li>PHP</li>
				<li>jQuery</li>
				<li>HTML</li>
				<li>SASS</li>
				<li>Gruntjs</li>
			</ul>
		</span>
		<span class="url-portfolio"><a href="">www.viaverdeonline.com.br</a></span>
		<img src="css/images/viaverde.jpg" alt="Via Verde Online" class="imagem-portfolio" />
	</li>
	<li>
		<span class="titulo-portfolio">Tre Amici</span>
		<span class="descricao-portfolio">
			E-commerce de venda de blusas para o público feminino.<br />
			<ul>
				<li>Magento</li>
				<li>PHP</li>
				<li>jQuery</li>
				<li>HTML</li>
				<li>CSS</li>
			</ul>
		</span>
		<span class="url-portfolio"><a href="">www.treamici.com.br</a></span>
		<img src="css/images/treamici.jpg" alt="Tre Amici" class="imagem-portfolio" />
	</li>
</ul>